table{
  width:100%;
}
input{
  width:100%;
  text-align:center;
}
th, td {
  border: none;
  text-align: center;
}
button {
  width: 100%;
  background: lightblue;
}
.buttoncol{
  width:3em;
  background:red;
}
.comment{
  margin-top:3em;
  color:lightgrey;
}
.checkna{
  width:auto;
  background:lightgrey;
}
